{% extends "base.html" %}
{% import "accounts/macros.html" as accounts %}

{% block title %}Appointment Successfully Created{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <p>Your current appointments:</p>
    {% for appointment in appointments %}
      <p>Appointment with {{ appointment.doctor }} at {{ appointment.office }} on {{ appointment.scheduled_time }} for {{ appointment.duration }} minutes.</p>
    {% endfor %}
    <hr/>
    {% if request.GET.get('signup') %}
    <p>Create an account now to make your appointment scheduleing eaiser next time.</p>
    {{ accounts.signup(request, csrf_token, PatientForm, SignupForm, next, id) }}
    {% endif %}
  </div>
</div>
{% endblock %}
