{% extends "base.html" %}
{% import "utils/forms.html" as forms %}

{% block title %}Book Your Next Appointment{% endblock %}

{% block content %}
<div class="row">
  <div class="large-12 columns">
    <h2>Appointments</h2>
    <hr/>

    <form id="AppointmentForm" method="post" action="{{ request.path }}" class="notificationForm">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <h4>Step 1 | Contact Information</h4>
      {% if not request.user.is_authenticated() %}
      <p>or <a href="{{ url('login') }}?next={{ request.path }}">Login</a></p>
      {% endif %}
      <div class="row">
        <div class="medium-6 columns">
          {{ forms.field(PatientForm.first_name) }}
        </div>
        <div class="medium-6 columns">
          {{ forms.field(PatientForm.last_name) }}
        </div>
      </div>
      {{ forms.field(PatientForm.email) }}
      {{ forms.field(PatientForm.cell_phone) }}
      {{ forms.field(PatientForm.date_of_birth) }}
      {{ forms.field(PatientForm.gender) }}
      <hr/>

      <h4>Step 2 | Schedule Appointment</h4>
      {{ forms.field(DoctorOrOfficeForm.doctor) }}
      {{ forms.field(DoctorOrOfficeForm.office) }}
      {{ forms.field(ScheduleForm.appointment_date, "hide") }}

      <table class="rotate_table fixed-header">
        <thead>
          <tr>
            {% for current_date in available_appointments %}
              <th>{{ current_date|date("D, N j") }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
          {% for current_date, time_slots in available_appointments.iteritems() %}
            <td>
            {% for time_slot in time_slots %}
              <input type="radio" name="time_slots" value="{{ current_date }}T{{ time_slot }}" id="{{ current_date }}_{{ time_slot }}">
                <label for="{{ current_date }}_{{ time_slot }}">{{ time_slot|date("h:iA") }}
              </label>
            {% endfor %}
            </td>
          {% endfor %}
          </tr>
        </tbody>
      </table>
      <input type="hidden" name="next" value="{{ next }}"/>
      <div>
        <button type="submit" class="button radius">Book Appointment</button>
      </div>
      <hr/>
    </form>
    <p><b>Cancellation Policy:</b> If you are unable to keep your appointment, we ask that you cancel with at least 24 hours' notice.</p>
    <p><b>Fees:</b> Orthology accepts all major insurance plans for physical therapy services. Our patent-pending, research-based methodology utilizes multiple practitioners working together as a collaborative care team. The chiropractic portion, which is an integral part of the visit and supportive of our physical therapy services, is $30.</p>
  </div>
</div>
{% endblock %}
