{% import "utils/forms.html" as forms %}


{% macro signup(request, csrf_token, PatientForm, SignupForm, next, id, doctor) -%}
  <form id="SignUpForm" method="post" action="{{ request.path }}" class="notificationForm">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    <div class="row">
      <div class="medium-6 columns">
        {{ forms.field(PatientForm.first_name) }}
      </div>
      <div class="medium-6 columns">
        {{ forms.field(PatientForm.last_name) }}
      </div>
    </div>
    <div class="row">
      <div class="medium-6 columns">
        {{ forms.field(PatientForm.email) }}
      </div>
      <div class="medium-6 columns">
        {{ forms.field(PatientForm.cell_phone) }}
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        {{ forms.field(PatientForm.date_of_birth) }}
        {{ forms.field(PatientForm.gender) }}
        {{ forms.field(SignupForm.password) }}
        <input type="hidden" name="next" value="{{ next }}"/>
        <input type="hidden" name="id" value="{{ id }}"/>
        <input type="hidden" name="doctor" value="{{ doctor.id }}"/>
        <div>
          <button type="submit" class="button radius">Sign Up</button>
        </div>
      </div>
    </div>
  </form>
{%- endmacro %}
