{% extends "base.html" %}

{% block title %}Book Your Next Appointment{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h2>Practices</h2>
    </div>
  </div>
  <div class="row">
    {% for practice in practices %}
      <div class="large-3 medium-4 columns">
        <div class="card">
          <div class="card-divider">
            <a href={{ url('appointment_form', kwargs={'practice_id':practice.id}) }}{{ practice.user.username }}</a>
          </div>
          <div class="card-section">
            <p>Practice information goes here.</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <div class="large-12 columns">
      {% if not request.user.is_authenticated() %}
        <div>
          <p>Want to add online appointment booking to your practice?</p>
          <a href="{{ url('social:begin', kwargs={'backend':'drchrono'}) }}" class="button success radius" role="button">
            <span>Signup with drcrono</span>
          </a>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
