{% extends "base.html" %}

{% block title %}Book Your Next Appointment{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h2>Practices</h2>
    </div>
  </div>
  <div class="row">
    {% for practice in practices %}
      <div class="large-3 medium-4 columns">
        <div class="card">
          <div class="card-divider">
            <h3>
              <a href={{ url('appointment_form', kwargs={'practice_id':practice.pk}) }} class="body-font-color">
                {{ practice.user.username }}
              </a>
            </h3>
          </div>
          <div class="card-section">
            <p>Practice information goes here.</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
